<div>
  <p style="color: green"><%= notice %></p>
    <div class="row justify-content-center" >
      <h1 class="text-center request-title">Request to book !</h1>
      <div class="request-form">
        <%= simple_form_for [@product, @booking] do |f| %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
        <%= f.input :comment, label: "Comment: " %>
        <%= f.submit "Set booking!", class: "btn-orange" %>


        <% end %>
      </div>
    </div>
</div>
