<div class="card" style="width: 18rem;">
  <div class="card-img">
    <div>
      <img class="card-img-top" src="<%= image_path("test_img.jpg") %>" alt="Card image cap">
    </div>
    <%# THIS IS A BOOKMARK feature if we have time to do %>
    <%# <div class="bookmark">
      <i class="fa-regular fa-bookmark"></i>
    </div> %>
  </div>
  <div class="card-body">
    <h4 class="card-title"> <%= product.title %> </h4>
    <h5 class="card-subtitle"> <%= product.category %> </h5>
    <p class="card-text"> <%= product.description %></p>
      <div class="d-flex justify-content-between align-items-center" >
        <div class="btn-orange">
          <%= link_to "Book product", product %>
        </div>
        <h3> <%= product.price %> €</h3>
      </div>
  </div>

</div>
