<%= link_to product_path(product), style: "text-decoration: none;" do %>

<div class="card-product">
  <img src="https://loremflickr.com/320/240/<%=product.category%>" />
  <div class="card-product-infos" class="d-flex justify-content-between">
    <h1> <%= product.title %> </h1>
    <p><%= product.category %> </p>
    <p class="price"><i class="fa-solid fa-euro-sign"></i><%= product.price %></p>
  </div>
</div>

<% end %>
