<%= simple_form_for(@product) do |f| %>
  <div class="container">
    <div class="row justify-content-center" >
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :category %>
      <%= f.input :price %>
      <%= f.submit "Save", class: "btn btn-success"%>
      <br>
      <%= link_to "Back to Products", products_path %>
      <br>
      <%= link_to "Back to Main Page", "/" %>
    </div>
  </div>
<% end %>
