<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class="cards-container">
    <%= render "shared/search" %>
    <% @products.each do |product| %>
        <%= render(partial: "shared/smallcard", locals: { product: product }) %>
    <% end %>
  </div>
</div>
