<h1 class="text-center">Which product you want to lend?</h1>
<div class="container">
  <div class="row justify-content-center" >
    <%= simple_form_for(@product) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :category %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.submit "create", class: "btn btn-orange" %>
    <% end %>
    <br>
    <%= link_to "Back to Products", products_path %>

    <br>
    <%= link_to "Back to Main Page", "/" %>
  </div>
</div>

