<h1> Product: <%= @product.title %> </h1>
<h1> Description: <%= @product.description %> </h1>
<h1> Category: <%= @product.category %> </h1>
<h1> Price: <%= @product.price %> Euros </h1>

<%= link_to "Rent me!", new_product_path %>

<%= link_to "Back to Products", products_path %>
