<div class="container">
  <div class="d-flex">
    <p style="color: green"><%= notice %></p>
    <div>
      <img class="img-fluid" src="<%= image_path("test_img.jpg")%>" width="300px" height="200px" alt=" <%= @product.title %>">
    </div>
    <div class="product-text">
      <h1 class="title"> <%= @product.title %> </h1>
      <h4 class="spacing"> <i class="fa-solid fa-location-dot"></i><%= @product.address %> </h4>
      <h3 class="spacing"> <i class="fa-solid fa-euro-sign"></i><%= @product.price %> </h3>
      <p class="description"><%= @product.description %> </p>
      <div class="booking-btn">
        <%= link_to "Go to Booking!", new_product_booking_path(@product.id), class: "btn-orange" %>
      </div>
    </div>

  </div>


  <%# <%= link_to "Update product", edit_product_path(@product) %>
  <%# <%= link_to "Delete this product",product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "Back to Products", products_path %>
</div>
