<h1> Product: <%= @product.title %> </h1>
<h1> Description: <%= @product.description %> </h1>
<h1> Category: <%= @product.category %> </h1>
<h1> Price: <%= @product.price %> Euros </h1>
<%= link_to "Delete this product",product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
