<h1> Product: <%= @product.title %> </h1>
<h1> Description: <%= @product.description %> </h1>
<h1> Category: <%= @product.category %> </h1>
<h1> Price: <%= @product.price %> Euros </h1>


<%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to "Delete this product",product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<%= link_to "Create Product", new_product_path %>
<%= link_to "Back to Products", products_path %>
